.field{
    clear: both;
    text-align: right;
    line-height: 25px;
}
 label{
     float: left;
     padding-right: 10px;
 }
 .main{
     float: left;
 }
 
 td{
    width: 130px;
    height: 40px;
    text-align: center;
 }
 tr{
    height: 40px;
}


 
