h1{
    text-align: center;
    color: darkgreen;
}

.btn{
margin-left: 25px;
}

.container{
    display: flex;
    justify-content: center;
}

#List{
    display: flex;
    justify-content: center;  
}

#header{
    display: flex;
    justify-content: flex-end;     
}

article{
    text-align: left;
    margin: 5px;
    font-size: 120%;
    padding-right: 50px;
}

li{
    display: flex;
    justify-content: flex-end;
    border: 3px solid;
    border-radius: 5px;
    width: 500px;
    height: 30px;
    text-align: center;
    list-style-type: none;
}

.header{
    display: inline;    
}

